<mat-toolbar class="titleBar">
  <span>Edycja wycieczki</span>
  <span class="fill-remaining-space"></span>
  <button mat-button class="goodButton" (click)="submitTrip()">
    Zatwierdź
    <mat-icon>check</mat-icon>
  </button>
</mat-toolbar>

<mat-divider></mat-divider>

<app-loading-spinner [show]="showSpinner"></app-loading-spinner>

<div class="columns">
  <div>
    <div>
      <h4>Data rozpoczęcia wycieczki:</h4>
      <mat-form-field>
        <input matInput value="{{this.editedTrip.begin_date}}" disabled>
      </mat-form-field>
    </div>
    <div>
      <h4>Grupa górska:</h4>
      <mat-form-field>
        <input matInput value="{{this.editedTrip.mnt_groups}}" disabled *ngIf="allRoutes.length != 0">
        <mat-select [(value)]="this.editedTrip.mnt_groups" *ngIf="allRoutes.length == 0">
          <mat-option *ngFor="let group of all_mnt_groups" [value]="group.name">
            {{group.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div>
    <div class="right">
      <h4>Data zakończenia wycieczki:</h4>
      <mat-form-field>
        <input matInput value="{{this.editedTrip.end_date}}" disabled>
      </mat-form-field>
      <div>
        <h2>Suma punktów: {{this.editedTrip.sugg_score}}</h2>
      </div>
    </div>
  </div>
  <div>
    <div class="right">
      <h4>Odznaka:</h4>
      <mat-form-field>
        <input matInput value="{{this.editedTrip.badgeName}}" disabled>
      </mat-form-field>
    </div>
  </div>
</div>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>Lp.</th>
    <td mat-cell *matCellDef="let element"> {{element.index}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Data przejścia</th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Kategoria</th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <ng-container matColumnDef="start_point">
    <th mat-header-cell *matHeaderCellDef>Punkt początkowy</th>
    <td mat-cell *matCellDef="let element"> {{element.start_point}} </td>
  </ng-container>

  <ng-container matColumnDef="end_point">
    <th mat-header-cell *matHeaderCellDef>Punkt końcowy</th>
    <td mat-cell *matCellDef="let element"> {{element.end_point}} </td>
  </ng-container>

  <ng-container matColumnDef="is_back">
    <th mat-header-cell *matHeaderCellDef>Czy powrotna?</th>
    <td mat-cell *matCellDef="let element"> {{element.is_back}} </td>
  </ng-container>

  <ng-container matColumnDef="is_repeated">
    <th mat-header-cell *matHeaderCellDef>Czy powtórzona?</th>
    <td mat-cell *matCellDef="let element"> {{element.is_repeated}} </td>
  </ng-container>

  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef>Punkty</th>
    <td mat-cell *matCellDef="let element; let i =index"> {{element.points}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-button class="goodButton" *ngIf="this.editedTrip.mnt_groups != ''" (click)="openAddRouteDialog()" [@fadeInOut]>
        Dodaj trasę
        <mat-icon>add</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let element;">
      <button mat-button class="badButton" *ngIf="element.index == this.allRoutes.length" (click)="openDeleteDialog(element.id)">
        Usuń
        <mat-icon>delete_outline</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<div>
  <mat-paginator [pageSize]="15" [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
</div>
