.editButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.badButton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

td.mat-cell:last-of-type{
  text-align: end;
}
