.backBar {
  background-color: #90A955;
  color: white;
  height: 60%;
  padding-left: 0;
}

.aboveTable {
  background-color: #ECF39E;
  color: #727272;
}

table {
  width: 100%;
  background-color: #ECF39E;
}

th {
  background-color: #D7DD90;
  color: #727272;
  font-size: medium;
}

td {
  color: #727272;
}

mat-paginator {
  background-color: #ECF39E;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.editButton {
  color: white;
  background-color: #90A955;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.badButton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

td.mat-cell:last-of-type{
  text-align: end;
}
