<app-back-bar [mainComponent]="this"></app-back-bar>

<mat-toolbar class="titleBar">
  <span>Lista twoich wycieczek</span>
  <span class="fill-remaining-space"></span>
  <a mat-button class="goodButton" routerLink="/addTrip">
    Dodaj wycieczkę <mat-icon>add</mat-icon>
  </a>
</mat-toolbar>

<app-loading-spinner [show]="showSpinner"></app-loading-spinner>

<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="begin_date">
    <th mat-header-cell *matHeaderCellDef>Data rozpoczęcia</th>
    <td mat-cell *matCellDef="let element"> {{element.begin_date}} </td>
  </ng-container>

  <ng-container matColumnDef="end_date">
    <th mat-header-cell *matHeaderCellDef>Data zakończenia</th>
    <td mat-cell *matCellDef="let element"> {{element.end_date}} </td>
  </ng-container>

  <ng-container matColumnDef="mnt_groups">
    <th mat-header-cell *matHeaderCellDef>Grupa górska</th>
    <td mat-cell *matCellDef="let element"> {{element.mnt_groups}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef>Punkty</th>
    <td mat-cell *matCellDef="let element"> {{element.sugg_score}} </td>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-button class="badButton" *ngIf="checkIfCanModfiy(element.status)" (click)="openDeleteDialog(element.id)">
        Usuń <mat-icon>delete_outline</mat-icon>
      </button>
      <button mat-button class="editButton" *ngIf="checkIfCanModfiy(element.status)">
        Edytuj <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<div class="paginator-on-bottom">
  <mat-paginator [pageSize]="15" [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
</div>
