.goodButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.badButton {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

h2 {
  background-color: #ECF39E;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 16px;
  padding-top: 16px;
}

.left {
  flex: 75%;
}

.right {
  flex: 25%;
  padding-left: 16px;
}

.customTableSize {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.mat-form-field {
  max-width: 40px;
  font-weight: bold;
  text-align: center;
}
