<app-back-bar [mainComponent]="this"></app-back-bar>

<mat-toolbar class="titleBar">
  <span>Twoje odznaki</span>
</mat-toolbar>

<app-loading-spinner [show]="showSpinner"></app-loading-spinner>

<mat-divider></mat-divider>

<div class="columns">
  <div class="left">
    <h4>Poprzednio zdobyte odznaki:</h4>
    <div class="customTableSize">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="badgeName">
          <th mat-header-cell *matHeaderCellDef>Odznaka</th>
          <td mat-cell *matCellDef="let element"> {{element.badgeName}} </td>
        </ng-container>

        <ng-container matColumnDef="earnDate">
          <th mat-header-cell *matHeaderCellDef>Data zdobycia</th>
          <td mat-cell *matCellDef="let element"> {{element.earnDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <div class="right">
    <h4>Aktualnie zdobywana odznaka:</h4>
    <h2>{{currentBadge}}</h2>
    <h4>Zdobyto punktów:</h4>
    <h2>{{earnedPoints}}/{{maxPoints}}</h2>
  </div>
</div>
