<app-back-bar [mainComponent]="this"></app-back-bar>

<mat-toolbar class="titleBar">
  <span>Twoje odznaki</span>
</mat-toolbar>

<mat-divider></mat-divider>

<div class="columns">
  <div class="left">
    <h4>Poprzednio zdobyte odznaki:</h4>
    <div class="customTableSize">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Odznaka</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="earn_date">
          <th mat-header-cell *matHeaderCellDef>Data zdobycia</th>
          <td mat-cell *matCellDef="let element"> {{element.earn_date}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  <div class="right">
    <h4>Aktualnie zdobywana odznaka:</h4>
    <h2>Mała srebrna</h2>
    <h4>Zdobyto punktów:</h4>
    <h2>180/360</h2>
    <h4>Dodatkowe wymagania:</h4>
    <h2>Brak</h2>
  </div>
</div>
